
@{
    ViewData["Title"] = "ManageMessages";
    Layout = "_Layout";
}

<section class="my-5">
    <div class="p-4 text-center">
        <h1 class="pageHeaderCustom text-light">Message and Reply Management</h1>
    </div>
    <div class="d-flex flex-row">
        <div class="mr-5 w-50 container-fluid">
            <div class="p-4 text-center">
                <h2 class="pageHeaderCustom text-light">Post Messages</h2>
            </div>
            <table class="table bg-light table-striped w-100 table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Posted On</th>
                        <th scope="col">View</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>A bird thinks...</td>
                        <td>03/03/2020</td>
                        <td><a href="#"><i class="fa fa-eye"></i></a></td>
                        <td><a href="#"><i class="fa fa-edit"></i></a></td>
                        <td><a href="#"><i class="fa fa-trash"></i></a></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>A bird thinks...</td>
                        <td>03/03/2020</td>
                        <td><a href="#"><i class="fa fa-eye"></i></a></td>
                        <td><a href="#"><i class="fa fa-edit"></i></a></td>
                        <td><a href="#"><i class="fa fa-trash"></i></a></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>A bird thinks...</td>
                        <td>03/03/2020</td>
                        <td><a href="#"><i class="fa fa-eye"></i></a></td>
                        <td><a href="#"><i class="fa fa-edit"></i></a></td>
                        <td><a href="#"><i class="fa fa-trash"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div> 
        <div class="w-50 container-fluid">
            <div class="p-4 text-center">
                <h2 class="pageHeaderCustom text-light">Post Replies</h2>
            </div>
            <table class="table bg-light table-striped w-100 table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Posted On</th>
                        <th scope="col">View</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>A bird thinks...</td>
                        <td>03/03/2020</td>
                        <td><a href="#"><i class="fa fa-eye"></i></a></td>
                        <td><a href="#"><i class="fa fa-edit"></i></a></td>
                        <td><a href="#"><i class="fa fa-trash"></i></a></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>A bird thinks...</td>
                        <td>03/03/2020</td>
                        <td><a href="#"><i class="fa fa-eye"></i></a></td>
                        <td><a href="#"><i class="fa fa-edit"></i></a></td>
                        <td><a href="#"><i class="fa fa-trash"></i></a></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>A bird thinks...</td>
                        <td>03/03/2020</td>
                        <td><a href="#"><i class="fa fa-eye"></i></a></td>
                        <td><a href="#"><i class="fa fa-edit"></i></a></td>
                        <td><a href="#"><i class="fa fa-trash"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

