/*FONT IMPORTATION*/
@font-face {
    font-family: 'FuturaPT-Bold';
    src: local('FuturaPT Bold'), local('FuturaPTBold'), url(../fonts/FuturaPTBold.otf);
}

@font-face {
    font-family: "FuturaPT-Medium";
    src: local('FuturaPT Medium'), local('FuturaPTMedium'), url(../fonts/FuturaPTMedium.otf) format("opentype");
}

@font-face {
    font-family: "FuturaPT-MediumOblique";
    src: local('FuturaPT Medium Oblique'), local('FuturaPTMediumOblique'),url(../fonts/FuturaPTCondMediumOblique.otf) format("opentype");
}

@font-face {
    font-family: "FuturaPT-Book";
    src: local('FuturaPT Book'), local('FuturaPTBook'), url(../fonts/FuturaPTBook.otf) format("opentype");
}

@font-face {
    font-family: "FuturaPT-Light";
    src: local('FuturaPT Light'), local('FuturaPTLight'),url(../fonts/FuturaPTLight.otf) format("opentype");
}

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    min-height: 100%;
}

/*NAVBAR STYLES*/
.navbar-brand {
    font-family: 'FuturaPT-Medium';
    font-size: 23pt;
    color: white;
}

.nav-item {
    /*spacing out nav items*/
    margin-left: 35px;
    font-size: 13pt;
}

a.nav-link:hover {
    background-color: white !important;
    color: #343a40 !important;
    border-radius: 3px;
}

/*GENERAL PAGE TEXT AND CONTAINER STYLES*/
.pageContainerCenter {
    width: 100%;
    display: flex;
}

.contextBoxRestricted {
    margin-top: 25%;
    margin-bottom: 20%;
    width: 100%;
}

.pageHeaderCustom {
    font-family: 'FuturaPT-Medium';
    font-size: 30pt;
    letter-spacing: 0.5px
}

.pageParagraph {
    font-family: 'FuturaPT-Book';
    font-size: 15pt;
}

.paragraphContainer { /*currently unused*/
    font-family: 'FuturaPT-Book';
    font-size: 15pt;
    width: 50%;
}

.secondaryPageHeaderCustom {
    font-family: 'FuturaPT-Book';
    font-size: 18pt;
}

.darkParagraphBackground {
    background-color: rgba(125,125,125,0.8);
}

/* BUTTON STYLES*/
.dropdownMenuButton {
    background: transparent;
    border-width: medium;
    border-color: white;
    font-family: 'FuturaPT-Light';
    font-size: 15pt;
    padding: 8px 30px;
}

/* Anchor Button Styles*/
a.navigationAnchor:hover {
    background-color: red;
    color: black;
}

/*GENERAL PAGE BACKGROUND STYLES*/
.pageContainer {
    min-height: 100% !important;
    background-image: url("../images/backgroundImages/mainBackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.opacityControl {
    min-height: 100vh;
    background-color: rgba(125,125,125,0.35);
    overflow: hidden;
    padding-bottom: 10px;
}

/*OVERWRITTING BACKGROUND STYLES*/
.parallaxEffect {
    min-height: 100% !important;
    background-image: url("../images/backgroundImages/roadLandscape.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center;
}

.pageContainer3 {
    min-height: 100% !important;
    background-image: url("../images/backgroundImages/blueSky.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.pageContainer4 {
    min-height: 100% !important;
    background-image: url("../images/backgroundImages/riceFarm.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.pageContainer5 {
    min-height: 100% !important;
    background-image: url("../images/backgroundImages/forestBackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.pageContainer6 {
    min-height: 100% !important;
    background-image: url("../images/backgroundImages/mountainBackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.pageContainer7 {
    min-height: 100% !important;
    background-image: url("../images/backgroundImages/snowMountain.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


.pageContainer8 {
    min-height: 100% !important;
    background-image: url("../images/backgroundImages/elephantBackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}