
@{
    ViewData["Title"] = "Home";
}

<div class="overflow-auto mt-4">
    <div class="userMessage text-light darkParagraphBackground p-4">
        <h1 class="messageTitle">Hello There</h1>
        <p class="pageParagraph"> My name is bob dylan and I am here to rock your world</p>
        <div class="d-flex flex-row">
            <p class="digitalSignature">Post by DylanD2 on 2/4/20 at 3:40pm</p>
        </div>
    </div>
    <form asp-action="ReplyButtonSubmit" asp-controller="Messaging">
        <fieldset>
            <input name="chatGenre" class="form-control" type="hidden">
            <input name="parentMessageID" class="form-control" type="hidden">
            <button type="submit" class="btn btn-link text-light">Reply</button>
        </fieldset>
    </form>
</div>

<div class="pt-4 container">
    <div class="row justify-content-end">
        <div class="col-6 reply p-2 my-3 bg-dark p-4">
            <p class="pageParagraph text-light">Your music sucks dude</p>
            <div class="d-flex flex-row">
                <p class="digitalSignature text-light">Post by DylanHater69 on 2/6/20 at 8:50pm</p>
            </div>
        </div>
    </div>
</div>

<div class="overflow-auto mt-4">
    <div class="userMessage text-light darkParagraphBackground p-4">
        <h1 class="messageTitle">Hello There</h1>
        <p class="pageParagraph"> My name is bob dylan and I am here to rock your world</p>
        <div class="d-flex flex-row">
            <p class="digitalSignature">Post by DylanD2 on 2/4/20 at 3:40pm</p>
        </div>
    </div>
    <form asp-action="ReplyButtonSubmit" asp-controller="Messaging">
        <fieldset>
            <input name="chatGenre" class="form-control" type="hidden">
            <input name="parentMessageID" class="form-control" type="hidden">
            <button type="submit" class="btn btn-link text-light">Reply</button>
        </fieldset>
    </form>
</div>

<div class="pt-4 container">
    <div class="row justify-content-end">
        <div class="col-6 reply p-2 my-3 bg-dark p-4">
            <p class="pageParagraph text-light">Your music sucks dude</p>
            <div class="d-flex flex-row">
                <p class="digitalSignature text-light">Post by DylanHater69 on 2/6/20 at 8:50pm</p>
            </div>
        </div>
    </div>
</div>

<div class="overflow-auto mt-4">
    <div class="userMessage text-light darkParagraphBackground p-4">
        <h1 class="messageTitle">Hello There</h1>
        <p class="pageParagraph"> My name is bob dylan and I am here to rock your world</p>
        <div class="d-flex flex-row">
            <p class="digitalSignature">Post by DylanD2 on 2/4/20 at 3:40pm</p>
        </div>
    </div>
    <form asp-action="ReplyButtonSubmit" asp-controller="Messaging">
        <fieldset>
            <input name="chatGenre" class="form-control" type="hidden">
            <input name="parentMessageID" class="form-control" type="hidden">
            <button type="submit" class="btn btn-link text-light">Reply</button>
        </fieldset>
    </form>
</div>

<div class="pt-4 container">
    <div class="row justify-content-end">
        <div class="col-6 reply p-2 my-3 bg-dark p-4">
            <p class="pageParagraph text-light">Your music sucks dude</p>
            <div class="d-flex flex-row">
                <p class="digitalSignature text-light">Post by DylanHater69 on 2/6/20 at 8:50pm</p>
            </div>
        </div>
    </div>
</div>

<div class="overflow-auto mt-4">
    <div class="userMessage text-light darkParagraphBackground p-4">
        <h1 class="messageTitle">Hello There</h1>
        <p class="pageParagraph"> My name is bob dylan and I am here to rock your world</p>
        <div class="d-flex flex-row">
            <p class="digitalSignature">Post by DylanD2 on 2/4/20 at 3:40pm</p>
        </div>
    </div>
    <form asp-action="ReplyButtonSubmit" asp-controller="Messaging">
        <fieldset>
            <input name="chatGenre" class="form-control" type="hidden">
            <input name="parentMessageID" class="form-control" type="hidden">
            <button type="submit" class="btn btn-link text-light">Reply</button>
        </fieldset>
    </form>
</div>

<div class="pt-4 container">
    <div class="row justify-content-end">
        <div class="col-6 reply p-2 my-3 bg-dark p-4">
            <p class="pageParagraph text-light">Your music sucks dude</p>
            <div class="d-flex flex-row">
                <p class="digitalSignature text-light">Post by DylanHater69 on 2/6/20 at 8:50pm</p>
            </div>
        </div>
    </div>
</div>