
@{
    ViewData["Title"] = "Info";
}

<section class="pageContainerCenter justify-content-center">
    <article class="contextBoxRestricted text-light darkParagraphBackground p-4">
        <div class="d-flex p-4 justify-content-left"><h1 class="pageHeaderCustom">Community Info and Highlights</h1></div>
        <p class="d-flex mb-2 p-4 pageParagraph">
            Here is a breakdown of some of our greatest accomplishments, by year:
        </p>
        <div class="p-4">
            <table class="table">
                <thead>
                    <tr>
                        <th>Year</th>
                        <th>Accomplishment</th>
                        <th>Recognition/Accolades</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">2011</th>
                        <td>Moving the server from mom's basement</td>
                        <td>Not getting interrupted on Xbox live</td>
                    </tr>
                    <tr>
                        <th scope="row">2014</th>
                        <td>Getting a Wikipedia page</td>
                        <td>Now we don't look like 4Chan startup wannabies</td>
                    </tr>
                    <tr>
                        <th scope="row">2017</th>
                        <td>Attending college</td>
                        <td>Student loans</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="d-flex p-4 justify-content-left">
            <div class="pageSelectorContainer pr-4">
                <p class="d-flex pt-2">
                    Please select an option from the dropdown menu to visit more of our site!
                </p>
            </div>
            <div class="dropdown">
                <button class="dropdownMenuButton btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Go to
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" asp-controller="Info" asp-action="Locations">Locations</a>
                    <a class="dropdown-item" asp-controller="Info" asp-action="SignificantPeople">Important People</a>
                </div>
            </div>
        </div>
    </article>
</section>