
@{
    ViewData["Title"] = "History";
    Layout = "_Layout";
}

<section class="pageContainerCenter justify-content-center">
    <article class="contextBoxRestricted text-light">
        <div class="d-flex p-4 justify-content-left">
            <h1 class="pageHeaderCustom">Our History</h1>
        </div>
        <p class="d-flex mb-2 p-4 pageParagraph">
            The Star Wars fan club has a long and storied history, reaching all the way back to LAST WEEK! Yes, that is a longtime
            indeed. How did we start you might ask? Well, Blake thought it was a smart idea to take the most hyped sci-fi saga
            in history and make a website about it... how original.
        </p>
        <p class="d-flex p-4 pageParagraph">
            In all seriousness though, our group was founded by a man named Dwight Schrute in 2004 after his co-worker, Jim,
            sent a fax to his copy machine saying that George Lucas needed him to work on community outreach. Of course, our Mr. Schrute,
            being a man of PEAK human intelligence, accepted the offer gracious. Welp, Mr. Schrute found out a year later that Jim was
            lying and decided to pass the torch down to me. So here I am, developing a community hub for Star Wars lovers, all of which
            is powered by ASP.NET CORE MVC!
        </p>
    </article>
</section>