@{ 
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}


<section class="pageContainerCenter justify-content-center">
    <article class="contextBoxRestricted text-light">
        <div class="d-flex p-4 justify-content-left"><h1 class="pageHeaderCustom">The Star Wars Fan Club Welcomes You!</h1></div>
        <p class="d-flex p-4 pageParagraph">
            From diverse ecosystems to
            original sci-fi elements, the Star Wars universe, created by none other than the legend himself, George Lucas, almost single-handedly moved the sci-fi space genre into the mainstream culture.
            As such, this site exists for the purpose of nerding out, posting about, and gawking over the cinematic behmoth that is Star Wars.
        </p>
        <br/>
        <p class="d-flex pl-4 pageParagraph">
            Now go forward, and explore our site :P
        </p>
    </article>
</section>

